<!-- Шаблон настройки профиля пользователя -->
<div class="profile-settings-page" ng-controller="ProfileSettingsCtrl">
    <ons-toolbar>
        <div class="left">
            <ons-back-button>&nbsp;</ons-back-button>
        </div>
        <div class="center">Настройки профиля</div>
    </ons-toolbar>
    <div class="change-profile-photo">
        <img ng-src="{{$root.userPhoto}}" alt="{{$root.userName}}" />
        <!--<div class="image-label">{{userPhotoLabel}}</div>-->
        <div class="clr"></div>
        <div class="fileUploadHolder avatarUploadHolder">
            <input type="file" ngf-select="uploadAvatar(uploadPhoto)" ng-model="uploadPhoto" name="photo" accept="image/*" />
            <ons-button class="button--outline" ng-click="uploadAvatar()">Изменить аватар</ons-button>
        </div>
        <p class="edit-profile-text status {{uploadStatusClass}}" ng-show="showUploadStatus">{{uploadStatus}}</p>
    </div>
    <div class="subtitle inner">Изменить имя</div>
    <div class="inner profile-name-holder">
        <input ng-keyup="changeName()" type="text" class="text-input" placeholder="Ваше имя" ng-model="$root.userName" value="{{$root.userName}}" />
    </div>
    <div class="inner profile-note-holder">
        <p class="edit-profile-text"> Максимальный размер файла: 2Мб. Изменения сохранятся автоматически.</p>
    </div>
</div>   