<!-- Шаблон ленты обновлений пользователя -->
<div class="subscriptions-page" ng-controller="SubscriptionsCtrl">
    <ons-toolbar>
        <div class="left">
            <ons-back-button>&nbsp;</ons-back-button>
        </div>
        <div class="center">{{subscriptionsPageTitle}}</div>
    </ons-toolbar>
    
    <div class="inner searchStringHolder" ng-if="showSearchField">
        <input id="searchString" ng-keyup="getUserSearch(searchString, true)" type="text" class="text-input" placeholder="Введите строку поиска" ng-model="searchString" value="{{searchString}}" />
    </div>
    <ons-list ng-if="!subscriptionsList.length" class="subscriptions-list">
        <ons-list-item>
            <strong class="no-element">Нет элементов для отображения</strong>
        </ons-list-item>
    </ons-list>
    
    <div ng-if="subscriptionsList.length" class="subtitle inner {{subscriptionsListTotalClass}}">Всего результатов: {{subscriptionsListLength}}</div>
    <ons-list ng-if="subscriptionsList.length" class="subscriptions-list">
        <ons-list-item ng-repeat="item in subscriptionsList">
            <div class="user-photo">
                <img ng-if="item.photo" ng-src="{{$root.serverName}}{{item.photo}}" alt="{{item.name}}" />
                <img ng-if="!item.photo" ng-src="{{$root.userPhotoDefault}}" alt="{{item.name}}" />
            </div>
            <div class="info">
                <h3>{{item.name}}<span ng-if="item.user_id == $root.user_id"> - это Вы</span></h3>
                <div ng-if="item.description" class="description">
                    <i class="icon fav"></i>{{item.description}}
                </div>
            </div>
            <div class="follow-button-wrap" ng-if="item.user_id == $root.user_id">
                <ons-button class="follow">
                    <i class="ion-gear-a"></i>
                </ons-button>
            </div>
            <div class="follow-button-wrap" ng-if="item.user_id != $root.user_id">
                <ons-button ng-if="!item.sub_flag" class="follow" ng-click="subUser(item.user_id)">
                    <i class="icon user"></i>
                    <i class="icon add"></i>
                </ons-button>
                <ons-button ng-if="item.sub_flag" class="unfollow" ng-click="unSubUser(item.user_id)">
                    <i class="icon user"></i>
                    <i class="icon mark"></i>
                </ons-button>
            </div>
        </ons-list-item>
    </ons-list>
    <div ng-if="loadNextPageShow" class="loadNextPage"></div>
    <!--<ons-list class="subscriptions-list">
        <ons-list-item>
            <div class="user-photo">
                <img src="images/user-photo.jpg" alt="" width="45" height="45">
            </div>
            <div class="info">
                <h3>Вася</h3>
                <div class="description">
                    <i class="icon fav"></i>Василий Смирнов
                </div>
            </div>
            <div class="follow-button-wrap">
                <ons-button class="follow">
                    <i class="icon user"></i>
                    <i class="icon add"></i>
                </ons-button>
            </div>
        </ons-list-item>

        <ons-list-item>
            <div class="user-photo">
                <img src="images/user-photo.jpg" alt="" width="45" height="45">
            </div>
            <div class="info">
                <h3>Вася</h3>
                <div class="description">
                    <i class="icon fav"></i>Василий Смирнов
                </div>
            </div>
            <div class="follow-button-wrap">
                <ons-button class="unfollow">
                    <i class="icon user"></i>
                    <i class="icon mark"></i>
                </ons-button>
            </div>
        </ons-list-item>

        <ons-list-item>
            <div class="user-photo">
                <img src="images/user-photo.jpg" alt="" width="45" height="45">
            </div>
            <div class="info">
                <h3>So long name So long name So long name So long name</h3>
                <div class="description">
                    <i class="icon fav"></i>Василий Смирнов
                </div>
            </div>
            <div class="follow-button-wrap">
                <ons-button class="unfollow">
                    <i class="icon user"></i>
                    <i class="icon mark"></i>
                </ons-button>
            </div>
        </ons-list-item>
    </ons-list>-->
</div>
