<!-- Шаблон настройки профиля пользователя -->
<ons-page>
	<div class="profile-settings-page" ng-controller="EditProfileCtrl">
		<ons-toolbar>
			<div class="left">
				<ons-back-button>&nbsp;</ons-back-button>
			</div>
			<div class="center">Настройки профиля</div>
		</ons-toolbar>
		<div class="change-profile-photo">
			<img ng-src="{{userPhoto}}" alt="{{userPhotoLabel}}" />
			<div class="image-label">{{userPhotoLabel}}</div>
			<ons-button class="button--outline">Изменить аватар</ons-button>
		</div>
		<div class="subtitle inner">Изменить имя</div>
		<div class="inner profile-settings-form">
			<form 
				name="profileSettingsForm"
				id="profileSettingsForm"
				method="post">
				<input type="text" class="text-input" placeholder="Ваше имя" ng-model="userName" value="{{userName}}">
				<ons-button
					ng-disabled="profileSettingsForm.$invalid"
					ng-click="saveSettings()"
					class="signup-button button--large">
					Сохранить
				</ons-button>
			</form>
		</div>
	</div>
</ons-page>